<h1>Photo <%=params[:id] %></h1>


<p><img src="<%= @photo_source %>" width="640"></p>
<p><strong>Photo id:</strong> <%= @photo_id %></p>
<p><strong>Photo source:</strong> <%= @photo_source %></p>
<p><strong>Photo caption:</strong> <%= @photo_caption %></p>
<p><strong>Photo created at:</strong> <%= @photo_created_at %></p>
<p><strong>Photo updated at:</strong> <%= @photo_updated_at %></p>

